* {
	box-sizing: border-box
}

body {
	background: #D0F0A0; 
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	margin:0;

}
.container {
	display: flex;
	padding: 20px;
	margin: 0 auto;
	max-width: 100%;
	width: 800px;

}

aside {
	padding: 10px 20px;
	width: 250px;
	border-right: 1px solid #ABC684;

}

button{
	background-color: #395000;
	border: solid 1px #ABC684;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	color: white;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 16px;
}

main {
	flex: 1;
	padding: 10px 20px;

}

h2{
	border-bottom: 1px solid white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	font-weight: 300;
	margin: 0;

}
h3{
	background-color: #5B7814;
	color: white;
	border-bottom: 1px solid white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	font-weight: 300;
	margin: 0;
	
}

.person{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 10px;
}